__pycache__/
*.py[cod]
*$py.class

.DS_Store
.cache/
scratch/

link_prediction/dataset/
link_prediction/rec/
link_prediction/saved_h_predictor_*.pth
link_prediction/semantic_indices_*.npz

node_classification/**/results/
node_classification/**/bqid_wo_train/
node_classification/large_graph/data/ogb/
node_classification/large_graph/data/pokec/
node_classification/medium_graph/data/Planetoid/
node_classification/medium_graph/data/Amazon/
node_classification/medium_graph/data/Coauthor/
node_classification/medium_graph/data/geom-gcn/
